/* Enter your custom styles here */
/* Diseño barra superior */
/* COlor Header bar */
/* .sapMIBar.sapMHeader-CTX {
    background-color: #1d436d;
} */

.sapMITBFilter .sapMITBText {
    color: #004379;
    /* color: #fff; */
}

.sapMIBar-CTX .sapMTitle {
    color: black;
}

.sapUiRootBackground .sapMShellGlobalOuterBackground {
    background-image: linear-gradient(to bottom, #002d51, #1d436d);
    opacity: 1;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}


/* Botones Icon Tab Bar */
.sapMITBSelected .sapMITBFilterDefault {
    background: #1d436d;
    color: #fff;
}

.sapMITBFilterDefault {
    border-color: #1d436d;
    color: #1d436d;
}


.sapMITH .sapMITBSelected .sapMITBContentArrow::after {
    /* indicador de seleccion tab _ seleccionadora */
    background: #1d436d;
    padding-bottom: 2px;
}

.sapMImg .sapMImgFocusable {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* .sapMITH {
    background-color: #ececec;
} */

.sapMITBContent {
    background-color: #1d436d;
    border-color: #fff  ;
    /* border: 1px solid #fff; */
}

/* .sapUshellFlexColumn {
    background-color: #1d436d;

} */